html,
body {
    height: 100%;
    margin: 0;
}

#map-iframe-container {
    /* display: flex; Включаем flexbox */
    /* justify-content: center; Центрируем по горизонтали */
    /* align-items: center; Центрируем по вертикали */
    /* height: 100vh; Высота контейнера на всю высоту экрана */
    /* width: 100vw; Ширина контейнера на всю ширину экрана */
}

#map-iframe {
    /* height: 70%; Высота iframe */
    /* width: 70%; Ширина iframe */
    /* margin: 0; */
}

#map {
    height: 100%;
    width: 100%;
}

.ec-popup .leaflet-popup-content-wrapper {
    background: white;
    color: #333;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.ec-popup .leaflet-popup-content {
    margin: 0;
}

.ec-popup .leaflet-popup-tip-container {
    display: none;
}

.popup-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.popup-content {
    text-align: left;
}

.popup-close-btn {
    display: block;
    margin: 15px auto 0;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.ec-marker {
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
}

.data-row {
    border-bottom: 1px solid #ddd; /* Разделительная линия между парами */
    padding: 8px 0; /* Отступы сверху и снизу */
    font-size: 15px;
}

.data-key {
    font-weight: bold; /* Жирный шрифт для ключа */
    margin-right: 10px; /* Отступ справа для ключа */
}

.data-value {
    color: #333; /* Цвет текста для значения */
}

.prunecluster {
	font-size: 12px;
	border-radius: 20px;
	transition: all 0.3s linear;
}
.leaflet-marker-icon.prunecluster-anim,
.leaflet-marker-shadow.prunecluster-anim,
.leaflet-markercluster-icon.prunecluster-anim {
	transition: all 0.3s linear;
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-shadow,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-markercluster-icon {
    transition: transform 0.25s cubic-bezier(0,0,0.25,1);
}
.prunecluster div {
	width: 30px;
	height: 30px;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 50%;
}
.prunecluster div span {
	line-height: 30px;
}

.prunecluster-small {
	background-color: #b5e28c;
	background-color: rgba(181, 226, 140, 0.6);
}

.prunecluster-small div {
	width: 28px;
	height: 28px;
	background-color: #6ecc39;
	background-color: rgba(110, 204, 57, 0.6);
}

.prunecluster-small div span {
	line-height: 28px;
}

.prunecluster-medium {
	background-color: #f1d357;
	background-color: rgba(241, 211, 87, 0.6);
}

.prunecluster-medium div {
	background-color: #f0c20c;
	background-color: rgba(240, 194, 12, 0.6);
}

.prunecluster-large {
	background-color: #fd9c73;
	background-color: rgba(253, 156, 115, 0.6);
}

.prunecluster-large div {
	width: 34px;
	height: 34px;
	background-color: #f18017;
	background-color: rgba(241, 128, 23, 0.6);
}

.prunecluster-large div span {
	line-height: 34px;
}

.leaflet-popup-content {
    font-size: 11px;
    font-weight: bold !important;
}


.easy-button-button {
    font-size: 13px !important;
}

.data-button {
    padding: 7px !important;
    border: none;
    background-color: #1a6ae2;
    font-weight: 600 !important;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}
